<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933202759364-5ae4di3bp9drpeivscph8lib6nfhk9gj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933202759364-5ae4di3bp9drpeivscph8lib6nfhk9gj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>933202759364-6k5bfplejn6jlqfou8101atopba57lgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3W71aDklju4ny4NXB1DfTyY10dTXv6Dw</string>
	<key>GCM_SENDER_ID</key>
	<string>933202759364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reso.vhgp.deli.vhgpDeli</string>
	<key>PROJECT_ID</key>
	<string>vhgp-9b167</string>
	<key>STORAGE_BUCKET</key>
	<string>vhgp-9b167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933202759364:ios:6830df2f6c690ad19ec391</string>
</dict>
</plist>